html, body {
    margin: 10;
    padding: 10;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 375px;
    margin: 0 auto;
    border: 1px solid black;
}

p {
    margin-top: 16px;
}

.logo {
    width: 127px;
    height: 60px;
    padding: 10px;
}

.user-photo {
    width: 34px;
    height: 34px;
    padding: 10px 10px;
    border-radius: 50%;
}

.post {
    width: 344px;
    margin: 0 auto;
    border-top: 1px solid #ececec;
}

.poster-info {
    display: flex;
    flex-direction: row;
    align-items: left;
    margin: 0;
    padding: 0;
}

.poster-photo {
    width: 34px;
    height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    border-radius: 0%;
}

.posts {
    display: flex;
    flex-direction: column;
    width: 375px;
    margin: 0 auto;
}

.post-image {
    width: 375px;
    height: 375px;
    margin-top: 8px;
}

.post-icons {
    display: flex;
    flex-direction: row;
}

.icon {
    padding: 5px;
    height: 23px;
    width: 23px;
}

.post-likes-comments {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.no-margin {
    margin: 0;
}
